.pokeball {
  position: absolute;
  top: 250px;
  width: 400px;
  height: 400px;
  left: calc(50% - 200px);
  border: 15px solid black;
  border-radius: 50%;
  overflow: hidden;
  animation: .8s linear 0s running start, 1s linear .8s running shake;
}

.pokeball--top {
  width: 100%;
  height: 45%;
  background-color: red;
  border-bottom: 40px solid black;
}

.pokeball--center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110px;
  left: 110px;
  width: 100px;
  height: 100px;
  border: 40px solid black;
  border-radius: 50%;
  background: #fff;
}

.pokeball--center-middle {
  width: 50px;
  height: 50px;
  border: 15px solid black;
  border-radius: 50%;
  background: white;
  animation: .8s linear .6s running blink, .8s linear 1s running blink;
}

@keyframes start {
  0% {
    top: -500px;
  }
  70% {
    top: 250px;
  }
  80% {
    top: 180px;
  }
  100% {
    top: 250px;
  }
}

@keyframes blink {
  from {
    background-color: red;
  }
  to {
    background-color: white;
  }
}

@keyframes shake {
  0% {
    transform: rotate(20deg);
    left: calc(52% - 200px);
  }
  25% {
    transform: rotate(-30deg);
    left: calc(50% - 200px);
  }
  50% {
    transform: rotate(30deg);
    left: calc(52% - 200px);
  }
  75% {
    transform: rotate(-20deg);
    left: calc(50% - 200px);
  }
  100% {
    transform: rotate(0deg);
  }
}